table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 25px;
    font-size: 0.8rem;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:hover {
    background-color: #e0e0e0; 
}

.btn-editar, .btn-excluir {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-editar {
    background-color: #007BFF; 
}

.btn-excluir {
    background-color: #DC3545; 
}

.container-painel {
    width: min(95%, 1000px);
    background-color: #ffffff; 
    padding: 8% 6%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}

.table-container {
    width: 100%; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
}

@media (min-width: 768px){
    main h1 {
        font-size: 3rem;
    }
}
